@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/reporting/js/bundle")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/reporting/css/bundles")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="body-content">
        @RenderBody()
        @RenderSection("body", required: false)
    </div>
</body>
</html>
