@model HomeVM

@{
    ViewBag.Title = "Reporting";
}

<div class="table-responsive">
    <h3>Templates</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Code</td>
                <td>Category</td>
                <td>Creation</td>
                <td>LastUpdate</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        @if (Model.Templates != null)
        {
            <tbody>
            @foreach (var item in Model.Templates)
            {
                <tr>
                    <td>@item.TemplateName</td>
                    <td>@item.TemplateCode</td>
                    <td>@(Model.Categories.Where(x => x.CategoryID.Equals(item.CategoryID, StringComparison.InvariantCultureIgnoreCase)).Select(x=>x.CategoryName).FirstOrDefault())</td>
                    <td>@item.CreationTime</td>
                    <td>@item.LastUpdateTime</td>
                    <td><a href="@Url.Action("CopyTemplate", "Home", new { Area = ReportingContext.AreaName, TemplateID = item.TemplateID })" data-action="copy-template">Copy</a></td>
                    <td><a href="@Url.Action("DeleteTemplate", "Home", new { Area = ReportingContext.AreaName, TemplateID = item.TemplateID })" data-action="delete-template" data-name="@item.TemplateName">Delete</a></td>
                    <td><a href="@Url.Action("EditTemplate", "Home", new { Area = ReportingContext.AreaName, TemplateID = item.TemplateID, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportingContext.AreaName }) })" data-action="edit-template">Edit</a></td>
                    <td><a href="@Url.Action("Index", "Design", new { Area = ReportingContext.AreaName, TemplateID = item.TemplateID, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportingContext.AreaName }) })" data-action="design-template">Design</a></td>
                    <td><a href="@Url.Action("Index", "Preview", new { Area = ReportingContext.AreaName, TemplateID = item.TemplateID, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportingContext.AreaName }) })" data-action="preview-template">Preview</a></td>
                </tr>
            }
            </tbody>
        }
        <tfoot>
            <tr>
                <td colspan="10"><a href="@Url.Action("Create", "Design", new { Area = ReportingContext.AreaName, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportingContext.AreaName }) })" data-action="create-template">Create Template</a></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="table-responsive">
    <h3>Categories</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        @if (Model.Categories != null)
        {
            <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td><a href="@Url.Action("EditCategory", "Home", new { Area = ReportingContext.AreaName, CategoryID = item.CategoryID, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportingContext.AreaName }) })" data-action="edit-category">Edit</a></td>
                    <td><a href="@Url.Action("DeleteCategory", "Home", new { Area = ReportingContext.AreaName, CategoryID = item.CategoryID })" data-action="delete-category" data-name="@item.CategoryName">Delete</a></td>
                </tr>
            }
            </tbody>
        }
        <tfoot>
            <tr>
                <td colspan="3"><a href="@Url.Action("CreateCategory", "Home", new { Area = ReportingContext.AreaName, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportingContext.AreaName }) })" data-action="create-category">Create Category</a></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="table-responsive">
    <h3>Data Providers</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>ID</td>
                <td>Category</td>
            </tr>
        </thead>
        @if (Model.DataProviders != null)
        {
            <tbody>
            @foreach (var item in Model.DataProviders)
            {
                <tr>
                    <td>@item.DataProviderName</td>
                    <td>@item.DataProviderID</td>
                    <td>@(Model.Categories.Where(x => x.CategoryID.Equals(item.CategoryID, StringComparison.InvariantCultureIgnoreCase)).Select(x=>x.CategoryName).FirstOrDefault())</td>
                    <td><a href="@Url.Action("EditDataProvider", "Home", new { Area = ReportingContext.AreaName, DataProviderID = item.DataProviderID, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportingContext.AreaName }) })" data-action="edit-dataprovider">Edit</a></td>
                </tr>
            }
            </tbody>
        }
        <tfoot>
            <tr>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
</div>
