@model HomeVM

@{
    ViewBag.Title = "Reporting";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('a[data-action="delete"]').click(function () {
                var reportName = $(this).data('reportname');
                if (!confirm('Are you sure to delete report "' + reportName + '" ?')) {
                    return false;
                }
            });
        });
    </script>
}

<div class="table-responsive">
    <h2>Reports</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>ID</td>
                <td></td>
            </tr>
        </thead>
        @if (Model.Reports != null)
        {
            <tbody>
            @foreach (var item in Model.Reports)
            {
                <tr>
                    <td><a href="@Url.Action("Index", "Design", new { Area = Consts.AreaName, ReportId = item.ReportId })" data-action="edit">@item.ReportName</a></td>
                    <td>@item.ReportId</td>
                    <td><a href="@Url.Action("Delete", "Home", new { Area = Consts.AreaName, ReportId = item.ReportId })" data-action="delete" data-reportname="@item.ReportName">Delete</a></td>
                </tr>
            }
            </tbody>
        }
        <tfoot>
            <tr>
                <td colspan="3"><a target="_blank" href="@Url.Action("Create", "Design", new { Area = Consts.AreaName })" data-action="create">Create New</a></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="table-responsive">
    <h2>Data Sources</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>ID</td>
            </tr>
        </thead>
        @if (Model.DataSources != null)
        {
            <tbody>
            @foreach (var item in Model.DataSources)
            {
                <tr>
                    <td>@item.DataSourceName</td>
                    <td>@item.DataSourceId</td>
                </tr>
            }
            </tbody>
        }
        <tfoot>
            <tr>
                <td colspan="2"></td>
            </tr>
        </tfoot>
    </table>
</div>
