@model HomeVM

@{
    ViewBag.Title = "Reporting";
}

<div class="table-responsive">
    <h3>Reports</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Code</td>
                <td>Category</td>
                <td>Creation</td>
                <td>LastUpdate</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        @if (Model.Templates != null)
        {
            <tbody>
            @foreach (var item in Model.Templates)
            {
                <tr>
                    <td>@item.TemplateName</td>
                    <td>@item.TemplateCode</td>
                    <td>@(Model.Categories.Where(x => x.CategoryID.Equals(item.CategoryID, StringComparison.InvariantCultureIgnoreCase)).Select(x=>x.CategoryName).FirstOrDefault())</td>
                    <td>@item.CreationTime</td>
                    <td>@item.LastUpdateTime</td>
                    <td><a href="@Url.Action("CopyTemplate", "Home", new { Area = ReportContext.AreaName, TemplateID = item.TemplateID })" data-action="copyreport">Copy</a></td>
                    <td><a href="@Url.Action("DeleteTemplate", "Home", new { Area = ReportContext.AreaName, TemplateID = item.TemplateID })" data-action="deletereport" data-name="@item.TemplateName">Delete</a></td>
                    <td><a href="@Url.Action("EditTemplate", "Home", new { Area = ReportContext.AreaName, TemplateID = item.TemplateID, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportContext.AreaName }) })" data-action="editreport">Edit</a></td>
                    <td><a href="@Url.Action("Index", "Design", new { Area = ReportContext.AreaName, TemplateID = item.TemplateID, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportContext.AreaName }) })" data-action="design">Design</a></td>
                    <td><a href="@Url.Action("Index", "Preview", new { Area = ReportContext.AreaName, TemplateID = item.TemplateID, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportContext.AreaName }) })" data-action="preview">Preview</a></td>
                </tr>
            }
            </tbody>
        }
        <tfoot>
            <tr>
                <td colspan="10"><a href="@Url.Action("Create", "Design", new { Area = ReportContext.AreaName, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportContext.AreaName }) })" data-action="createreport">Create Report</a></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="table-responsive">
    <h3>Categories</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        @if (Model.Categories != null)
        {
            <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>@item.CategoryName</td>
                    <td><a href="@Url.Action("EditCategory", "Home", new { Area = ReportContext.AreaName, CategoryID = item.CategoryID, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportContext.AreaName }) })" data-action="editcategory">Edit</a></td>
                    <td><a href="@Url.Action("DeleteCategory", "Home", new { Area = ReportContext.AreaName, CategoryID = item.CategoryID })" data-action="deletecategory" data-name="@item.CategoryName">Delete</a></td>
                </tr>
            }
            </tbody>
        }
        <tfoot>
            <tr>
                <td colspan="3"><a href="@Url.Action("CreateCategory", "Home", new { Area = ReportContext.AreaName, ReturnUrl = Url.Action("Index", "Home", new { Area = ReportContext.AreaName }) })" data-action="createcategory">Create Category</a></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="table-responsive">
    <h3>Data Providers</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>ID</td>
            </tr>
        </thead>
        @if (Model.DataProviders != null)
        {
            <tbody>
            @foreach (var item in Model.DataProviders)
            {
                <tr>
                    <td>@item.DataProviderName</td>
                    <td>@item.DataProviderID</td>
                </tr>
            }
            </tbody>
        }
        <tfoot>
            <tr>
                <td colspan="2"></td>
            </tr>
        </tfoot>
    </table>
</div>
